/* PARTE 2 CABECERAS */
.CabeceraApp {
    background: #17356A;
    height: 100%;
    width: 100%;
    padding: 20px;
    max-height: 184px;
}

.TituloNuevos {
    padding: 30px;
    color: #fff;
    text-align: center;
    margin: 0;
}
.buscador {
    margin: 27px auto;
}